<div class="card border-dark mb-3" style="max-width: 30rem;">
  <div class="card-body text-dark">
    
<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @logistic.product %>
</p>

<p>
  <strong>Color:</strong>
  <%= @logistic.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @logistic.size %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @logistic.quantity %>
</p>

<p>
  <strong>Location:</strong>
  <%= @logistic.location %>
</p>

<p>
  <strong>Created At:</strong>
  <%= @logistic.created_at %>
</p>

<p>
  <strong>Updated At:</strong>
  <%= @logistic.updated_at %>
</p>

<p>
  <strong>Deletion Comments:</strong>
    <%= @logistic.message %>
</p>

<%= link_to 'Edit', edit_logistic_path(@logistic), class:"btn btn-outline-secondary" %> |
<%= link_to 'Back', logistics_path, class:"btn btn-outline-secondary" %>

</div>
</div>